//variables
$primary: #4452FE;
$secondary: #02E4C0;
$light: #fff;
$medium-dark: #5C5C5C;
$dark: #181818;

// $primary: #4452FE;
// $secondary: #02E4C0;
// $text-light: #fff;
// $text-dark: #5C5C5C;
// $bg-dark: #181818;