* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  min-height: 100vh;
  background-color: #181818;
  color: #fff;
}

section {
  margin: 100px 0 50px 0;
}

h1 {
  text-align: center;
  padding: 10px;
  font-size: 2.5em;
  font-weight: normal;
  line-height: 1.25;
}

.btn {
  padding: 10px 30px;
  color: #fff;
  transition: all 0.5s ease;
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.btn-primary {
  background-color: #4452FE;
}
.btn-primary:hover {
  background-color: #02E4C0;
}
.btn-secondary {
  border: 1px solid #fff;
  background-color: #181818;
}
.btn-secondary:hover {
  background-color: #02E4C0;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 14px 5%;
  transition: all 0.2s ease;
  background-color: #181818;
}
header .logo img {
  height: 60px;
}
header .navbar {
  display: flex;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 29vh;
  background-color: #4452FE;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: all 0.5s ease;
}
header .navbar li {
  margin: 0 10px;
}
header .navbar li a {
  display: block;
  padding: 12px 0;
  margin: 0 25px;
  transition: all 0.5s ease;
  color: #fff;
}
header .navbar li a:hover {
  color: #02E4C0;
}
header .navbar li a.active {
  color: #02E4C0;
}
header .navbar.open {
  right: 0;
}
header .main {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .main .login-button {
  padding: 6px 24px;
  border: 1px solid #fff;
  color: #fff;
  transition: all 0.5s ease;
  cursor: pointer;
}
header .main .login-button a {
  color: #fff;
}
header .main .login-button:hover {
  background-color: #4452FE;
}
header .main #menu-icon {
  display: block;
  margin-left: 20px;
  font-size: 35px;
  color: #fff;
  cursor: pointer;
  z-index: 1001;
}

.hero {
  margin-top: 152px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hero__content {
  margin-bottom: 20px;
  padding: 0 20vw;
}
.hero__content p {
  text-align: center;
  padding: 10px;
  line-height: 1.5;
}
.hero .cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
  gap: 20px;
}
.hero__image {
  width: 100%;
}
.hero__image img {
  width: 100%;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features__header {
  margin-bottom: 20px;
  padding: 0 20vw;
  text-align: center;
}
.features__header p {
  text-align: center;
  padding: 10px;
  line-height: 1.5em;
}
.features__images-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}
.features__images-container .img--main {
  width: 70%;
}
.features__images-container .img--sub {
  position: absolute;
  width: 50%;
  bottom: -70px;
  left: auto;
}
.features__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25vw;
  margin-top: 100px;
  gap: 40px;
}
.features__content__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}
.features__content__item .headline {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  width: 75%;
}
.features__content__item .headline img {
  margin: 10px 10px 0 0;
  width: 35px;
}
.features__content__item .headline h2 {
  font-weight: 500;
  line-height: 1.5em;
}
.features__content__item p {
  padding: 0 10px;
  line-height: 1.5em;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contents__header {
  margin-bottom: 20px;
  padding: 0 20vw;
  text-align: center;
}
.contents__header p {
  text-align: center;
  padding: 10px;
  line-height: 1.5em;
}
.contents .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
.contents .cards .card {
  width: 60%;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
  color: #181818;
}
.contents .cards .card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px;
  width: 100%;
}
.contents .cards .card__content__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 10px;
  line-height: 1.5em;
  text-align: center;
}
.contents .cards .card__content__header h2 {
  width: 60%;
}
.contents .cards .card__content__header p {
  color: #5C5C5C;
}
.contents .cards .card__content__image {
  width: 100%;
}
.contents .cards .card__content__image img {
  width: 100%;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery__header {
  margin-bottom: 20px;
  padding: 0 20vw;
  text-align: center;
}
.gallery__header p {
  text-align: center;
  padding: 10px;
  line-height: 1.5em;
}
.gallery__content--mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-bottom: 40px;
}
.gallery__content--mobile .item {
  width: 60%;
}
.gallery__content--mobile .item img {
  width: 100%;
  border-radius: 12px;
}
.gallery__content--desktop {
  display: none;
}

@media (min-width: 768px) {
  header {
    padding: 18px 10%;
    transition: all 0.2s ease;
  }
  header .navbar {
    width: 40%;
    height: 30vh;
  }
  header .navbar.open {
    right: 0;
  }
}
@media (min-width: 1100px) {
  h1 {
    font-size: 4em;
    font-weight: 500;
    line-height: 1.25;
  }
  header {
    padding: 28px 12%;
    transition: all 0.5s ease;
  }
  header .navbar {
    position: relative;
    flex-direction: row;
    height: auto;
    right: auto;
    background-color: #181818;
  }
  header .navbar li a {
    padding: 5px 0;
    margin: 0 30px;
  }
  header .main #menu-icon {
    display: none;
  }
  .hero {
    margin-top: 205px;
  }
  .hero__content {
    padding: 0 30vw;
  }
  .hero__content p {
    padding: 20px;
  }
  .hero .cta {
    flex-direction: row;
    justify-content: center;
    gap: 35px;
    margin: 30px;
  }
  .hero__image {
    width: 100%;
  }
  .hero__image img {
    width: 100%;
  }
  .features__header {
    margin-bottom: 80px;
    padding: 0 30vw;
  }
  .features__body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  .features__images-container {
    display: initial;
    width: 50%;
  }
  .features__images-container .img--main {
    width: auto;
  }
  .features__images-container .img--sub {
    width: auto;
    bottom: -100px;
    left: 30%;
  }
  .features__content {
    width: 25%;
    padding: 0 20px;
    margin: 50px 0;
    gap: 25px;
  }
  .features__content__item .headline img {
    width: 30px;
  }
  .features__content__item .headline h2 {
    font-size: 20px;
    padding-right: 50px;
  }
  .features__content__item p {
    width: 95%;
  }
  .contents__header {
    margin-bottom: 80px;
    padding: 0 30vw;
  }
  .contents .cards {
    flex-direction: row;
    align-items: stretch;
    width: 75%;
  }
  .contents .cards .card {
    flex: 1;
  }
  .contents .cards .card__content__header {
    width: 60%;
  }
  .gallery__header {
    padding: 0 30vw;
  }
  .gallery__content--mobile {
    display: none;
  }
  .gallery__content--desktop {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 75%;
    margin-bottom: 40px;
  }
  .gallery__content--desktop .item {
    height: 285px;
    width: auto;
  }
  .gallery__content--desktop .item img {
    height: 100%;
    width: auto;
    border-radius: 12px;
  }
}