//general styles
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    min-height: 100vh;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: $dark;
    color: $light;
}